<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">文章发布</h3>
	</div>
	<div class="panel-body">
		<ul class="left-menu">
			<li><a href="{:U('column/lists')}">文章列表</a></li>
			<li><a href="{:U('column/publish')}">文章发布</a></li>
		</ul>
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">资料管理</h3>
	</div>
	<div class="panel-body">
		<ul class="left-menu">
			<li><a href="{:U('user/modifyPSW')}">修改密码</a></li>
			<li><a href="{:U('user/profile')}">资料完善</a></li>
		</ul>
	</div>
</div>