<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>猫的周末</title>
<include file="Public/head" />
</head>
<body>
	<include file="Public/header" />
	<div class="container theme-showcase" role="main">
		<!-- <div id="carousel-example-generic" class="carousel slide"
			data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0"
					class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img data-src="holder.js/1140x100/auto/#777:#555/text:First slide"
						alt="First slide">
				</div>
				<div class="item">
					<img data-src="holder.js/1140x100/auto/#666:#444/text:Second slide"
						alt="Second slide">
				</div>
				<div class="item">
					<img data-src="holder.js/1140x100/auto/#555:#333/text:Third slide"
						alt="Third slide">
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-example-generic"
				role="button" data-slide="prev"> <span
				class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">上一张</span>
			</a> <a class="right carousel-control" href="#carousel-example-generic"
				role="button" data-slide="next"> <span
				class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">下一张</span>
			</a>
		</div>  -->
		<div class="row mt">
			<div class="col-sm-9">
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="author-info">
							<div class="info-img">
								<img alt="头像" src="/Public/images/ad02.jpg" />
							</div>
							<div class="info-detail">
								<div class="nick-name">
									<a href="{:U('index/page')}" title="扯法律几个蛋">扯法律几个蛋</a>
								</div>
								<div class="desc">见习律师孙果冻</div>
								<div class="related-info">
									文章<span><a href="{:U('index/page')}">[200]</a></span>
								</div>
							</div>
						</div>
						<div class="art-list">
							<ul>
								<li><a href="{:U('index/page')}">连硕科技成立机器人职教中心，欲填补机器人职教缺口</a></li>
								<li><a href="{:U('index/page')}">连硕科技成立机器人职教中心，欲填补机器人职教缺口</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="author-info">
							<div class="info-img">
								<img alt="头像" src="/Public/images/ad02.jpg" />
							</div>
							<div class="info-detail">
								<div class="nick-name">
									<a href="{:U('index/page')}" title="扯法律几个蛋">扯法律几个蛋</a>
								</div>
								<div class="desc">见习律师孙果冻</div>
								<div class="related-info">
									文章<span><a href="{:U('index/page')}">[200]</a></span>
								</div>
							</div>
						</div>
						<div class="art-list">
							<ul>
								<li><a href="{:U('index/page')}">连硕科技成立机器人职教中心，欲填补机器人职教缺口</a></li>
								<li><a href="{:U('index/page')}">连硕科技成立机器人职教中心，欲填补机器人职教缺口</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- /.col-sm-4 -->
			<div class="col-sm-3">
				<div class="list-group">
					<a href="{:U('index/page')}" class="list-group-item active">最新最热 </a> <a href="{:U('index/page')}"
						class="list-group-item">水调歌头</a> <a href="{:U('index/page')}"
						class="list-group-item">水调歌头</a> <a href="{:U('index/page')}"
						class="list-group-item">水调歌头</a> <a href="{:U('index/page')}"
						class="list-group-item">水调歌头</a>
				</div>
				<div class="list-group">
					<a href="{:U('index/page')}" class="list-group-item active">经典美文 </a> <a href="{:U('index/page')}"
						class="list-group-item">水调歌头</a> <a href="{:U('index/page')}"
						class="list-group-item">水调歌头</a> <a href="{:U('index/page')}"
						class="list-group-item">水调歌头</a> <a href="{:U('index/page')}"
						class="list-group-item">水调歌头</a>
				</div>
				<div class="list-group">
					<a href="{:U('index/page')}" class="list-group-item active">专栏作家 </a> <a href="{:U('index/page')}"
						class="list-group-item">水调歌头</a> <a href="{:U('index/page')}"
						class="list-group-item">水调歌头</a> <a href="{:U('index/page')}"
						class="list-group-item">水调歌头</a> <a href="{:U('index/page')}"
						class="list-group-item">水调歌头</a>
				</div>
			</div>
			<!-- /.col-sm-4 -->
		</div>
	</div>
	<!-- /container -->
	<include file="Public/footer" />
</body>
</html>