<!DOCTYPE html>
<html lang="zh-CH">
<head>
<meta charset="utf-8">
<title>猫的周末--修改密码</title>
<include file="Public/head" />
</head>
<body role="document">
	<include file="Public/header" />
	<div class="container theme-showcase" role="main">
		<div class="row mt">
			<div class="col-sm-3">
				<include file="Public/lside" />
			</div>
			<div class="col-sm-9 border-all mb">
				<form class="form-horizontal mb" id="form1" name="form1"
					method="post">
					<h4 class="form-signin-heading mt">密码修改</h4>
					<div class="form-group">
						<label class="col-sm-2 control-label">原始密码</label>
						<div class="col-sm-5">
							<input type="password" class="form-control" name="oldPassword"
								id="oldPassword" placeholder="原始密码">
						</div>
						<div class="col-sm-5">
							<span id="old-msg">（必填，密码为6-16位字符）</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">修改密码</label>
						<div class="col-sm-5">
							<input type="password" class="form-control" name="newPassword"
								id="newPassword" placeholder="修改密码">
						</div>
						<div class="col-sm-5">
							<span id="new-msg">（必填，密码为6-16位字符）</span>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">确认密码</label>
						<div class="col-sm-5">
							<input type="password" class="form-control" name="newPassword2"
								id="newPassword2" placeholder="确认密码">
						</div>
						<div class="col-sm-5">
							<span id="new-msg2">（必填，与修改密码一致）</span>
						</div>
					</div>
					<div class="form-group">
						<span id="err-msg"></span>
					</div>
					<input class="btn btn-primary btn-width-100" type="button"
						id="submitPsw" value="提交">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input
						class="btn btn-warning btn-width-100" type="reset" value="取消">
				</form>
			</div>
		</div>
	</div>
	<!-- /container -->
	<include file="Public/footer" />
	<script type="text/javascript">
		$(function() {
			$('#submitPsw').unbind('click');
			$('#submitPsw').click(
					function() {
						var flag1 = false;
						var flag2 = false;
						var flag3 = false;
						var oldPsw = $('#oldPassword').val();
						var newPsw = $('#newPassword').val();
						var newPsw2 = $('#newPassword2').val();
						if (oldPsw == '') {
							$('#old-msg').css('color', '#FF0000').html(
									'原始密码不能为空');
						} else {
							if (!/^\w{6,16}$/.test(oldPsw)) {
								$('#old-msg').css('color', '#FF0000').html(
										'格式不对，密码必须为6-16位字符');
							} else {
								$('#old-msg').html('');
								flag1 = true;
							}
						}

						if (newPsw == '') {
							$('#new-msg').css('color', '#FF0000').html(
									'修改密码不能为空');
						} else {
							if (!/^\w{6,16}$/.test(newPsw)) {
								$('#new-msg').css('color', '#FF0000').html(
										'格式不对，修改密码必须为6-16位字符');
							} else {
								$('#new-msg').html('');
								flag2 = true;
							}
						}
						if (newPsw2 == '') {
							$('#new-msg2').css('color', '#FF0000').html(
									'确认密码不能为空');
						} else {
							if (newPsw != newPsw2) {
								$('#new-msg2').css('color', '#FF0000').html(
										'确认密码与修改密码不一致');
							} else {
								$('#new-msg2').html('');
								flag3 = true;
							}
						}

						if (flag1 && flag2 && flag3) {
							$('#old-msg').html('');
							$('#new-msg').html('');
							$('#new-msg2').html('');
							if (confirm('您确定要修改密码么？')) {
								$('#err-msg').html('正在进行密码修改，请稍后.....');
								$.ajax({
									type : "post",
									url : "/Home/User/modifyPSW",
									dataType : 'json',
									data : $("#form1").serialize(),
									timeout : 3000,
									success : function(data) {
										$('#oldPassword').val('');
										$('#newPassword').val('');
										$('#newPassword2').val('');
										$('#err-msg').css('color', '#FF0000')
												.html(data);
										setTimeout(function() {
											$('#err-msg').html('');
										}, 3000);
									},
									error : function(XMLHttpRequest,
											textStatus, errorThrown) {
										fleshVerify();
										$('#err-msg').html('操作超时，请重新提交');
									}
								});
							}
						}
					})
		})
	</script>
</body>
</html>
