<!DOCTYPE html>
<html lang="zh-CH">
<head>
<meta charset="utf-8">
<title>猫的周末--资料完善</title>
<include file="Public/head" />
</head>
<body role="document">
	<include file="Public/header" />
	<div class="container theme-showcase" role="main">
		<div class="row mt">
			<div class="col-sm-3">
				<include file="Public/lside" />
			</div>
			<div class="col-sm-9 border-all mb">
				<form class="form-horizontal" name="headPhotoForm" id="headPhotoForm" method="post" enctype="multipart/form-data">
					<h4 class="form-profile-heading mt">上传头像</h4>
					<div class="form-group">
						<div class="col-sm-6">
							<img width="120px" height="120px" src="/Public/images/ad02.jpg" alt="缩略图">
							<div class="caption">
								<p>*请选择1M以下的图片上传</p>
								<p>
									<a href="#" class="btn btn-primary" role="button" id="hp">上传头像</a>
								</p>
							</div>
						</div>
					</div>
					</form>
					<h4 class="form-profile-heading mt">基本资料</h4>
					<form class="form-horizontal mb" name="basicProfileForm" id="basicProfileForm" method="post">
					<div class="form-group">
						<label class="col-sm-2 control-label">真实姓名</label>
						<div class="col-sm-6">
							<input type="text" name="trueName" class="form-control" placeholder="真实姓名" value="{$userData.real_name}">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">性别</label>
						<div class="col-sm-6">
						    <if condition="$userData['sex']==0"><input type="radio" name="sex" value="0" checked>男 <input type="radio" name="sex" value="1">女<else />
							<input type="radio" name="sex" value="0">男 <input type="radio" name="sex" value="1" checked>女</if>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">手机号码</label>
						<div class="col-sm-6">
							<input type="text" name="mobile" id="mobile" class="form-control" placeholder="手机号码" value="{$userData.phone}">
						</div>
						<div class="col-sm-6">
						    <span style="color:#f00" id="mobileError"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">电子邮箱</label>
						<div class="col-sm-6">
							<input type="text" name="email" id="email" class="form-control" placeholder="电子邮箱" value="{$userData.email}">
						</div>
						<div class="col-sm-6">
							<span style="color:#f00" id="emailError"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">个人简介</label>
						<div class="col-sm-6">
							<input type="text" name="intro" class="form-control" placeholder="个人简介" value="{$userData.intr}">
						</div>
					</div>
					<input class="btn btn-primary" type="button" id="bf" value="提交"/>
				</form>
			</div>
		</div>
	</div>
	<!-- /container -->
	<include file="Public/footer" />
	<script src="/Public/layer/layer.js"></script>
	<script type="text/javascript">
	$(function(){
		$("#hp").click(function(){
			layer.open({
				type : 2,
				title : '头像上传',
				maxmin : true,
				shadeClose : false, //点击遮罩关闭层
				area : [ '800px', '600px' ],
				content : '/upload_crop.php'
			});	
		});	
		
		$('#bf').click(function(){
			var mobile = $('#mobile').val().trim();
			var email = $('#email').val().trim();
			if(mobile!=''){
				if(checkRegMobile(mobile)==false){
				   $('#mobileError').html('手机格式不正确');
				   return false;
				   }
			}
			if(email!=''){
				if(checkRegEmail(email)==false){
					$('#emailError').html('邮箱格式不正确');
			       return false;
			       }
			}
			$('#mobileError').html('');
			$('#emailError').html('');
			$('#bf').val("正在提交...").attr("disabled","disabled");
			$.ajax({
				type : "post",
				url : '/User/profile',
				dataType : "json",
				data : $("#basicProfileForm").serialize(),
				timeout : 5000,
				success : function(data) {
					if (data == '提交成功') {
						layer.msg(data);
						$('#bf').val("提交").attr("disabled",false)
					} else {
						layer.msg(data);
						return;
					}
				},
				error : function(XMLHttpRequest, textStatus, errorThrown) {
					$('#bf').val("提交").attr("disabled",false)
					layer.msg("系统未响应，请重新提交");
					return;
				}
			});
			
		})
	})
	</script>
</body>
</html>
